body{
    font-family: 'Verdana', sans-serif;
    color: #333;
    background-color:#f0f0f0;

}
header{
    background-color : rgb(88, 174, 88);
}
h1{
    color : white;
    font-size: 3em;
    font-weight: bolder;
}
h2{
    color : rgb(232, 211, 26);
}
article{
    background-color: white;
}
.css-article > h3{
    color : blue;
    font-size : 2em;
}
h4{
    color: #FF69B4;
    font-size: 1.5em;
}
.js-article > h3{
    color : red;
    font-size : 2em;
}
.js-article th{
    background-color: blue;
}
